*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/pexel.jpeg);
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    min-height: 100vh;
}


  nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
     padding-left: 40%;
    padding-right: 20%;
    padding-left: 40px; 
    padding-top: 6px;
  }

li{
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 70px;
    font-weight: 500;
    font-size: 20px;
    color: #eddd2a;
}


nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;

}

 button{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border: none;
    background-color: rgb(242, 17, 9);
}

button:hover{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    font-weight: bold;
    font-size: 50px;
    color: #edac2a;
    text-align-last: center;
}

section img{
    position: fixed;
    bottom: 0;
    right: 10px;
}

.btn{
    position:absolute;
   padding-top: 300px;
   border-radius: none;
}